{% extends "base/base.html" %}
{% block title %}
    Notification Preferences
{% endblock title %}
{% block content %}
    <section class="py-5">
        <div class="container form-container">
            <h1 class="mb-3">Notification Preferences</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-brand">Save preferences</button>
            </form>
        </div>
    </section>
{% endblock content %}
